<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--导航条-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">文章 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">随笔</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="#">{{ request.user.username }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">更多操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'set_pwd' %}" data-toggle="modal"
                                   data-target=".bs-example-modal-lg">修改密码</a></li>
                            <li><a href="/set/avatar/">修改头像</a></li>
                            <li><a href="/backend/">后台管理</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">退出登录</a></li>
                        </ul>
                        <!-- 修改密码 模态框 -->
                        <!--<button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target=".bs-example-modal-lg">Large modal
                        </button>-->

                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <h2 class="text-center">修改密码</h2>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <div class="form-group">
                                                <label for="">用户名</label>
                                                <input type="text" disable value="{{ request.user.username }}"
                                                       class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="">原密码</label>
                                                <input type="text" id="id_old_password" class="form-control">
                                                <span style="color: red"></span>

                                            </div>
                                            <div class="form-group">
                                                <label for="">新密码</label>
                                                <input type="text" id="id_new_password" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="">确认密码</label>
                                                <input type="text" id="id_confirm_password" class="form-control">
                                                <span style="color: red"></span>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 col-md-offset-1">
                                                    <button type="button" class="btn btn-default btn-block"
                                                            data-dismiss="modal">取消
                                                    </button>
                                                </div>
                                                <div class="col-md-5">
                                                    <button type="button" class="btn btn-primary btn-block"
                                                            id="id_edit">确认
                                                    </button>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li><a href="{% url 'reg' %}">注册</a></li>
                    <li><a href="{% url 'login' %}">登录</a></li>
                {% endif %}


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">重金求子</h3>
            </div>
            <div class="panel-body">
                事成之后，上海别墅一套外加现金500万
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">千万大奖</h3>
            </div>
            <div class="panel-body">
                抓紧联系：加微信1382893215u
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">线上赌场</h3>
            </div>
            <div class="panel-body">
                性感荷官在线发牌
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <ul class="media-list">
            <!--分页器-->
            {% for article_obj in page_queryset %}

                <li class="media">
                    <h4 class="media-heading"><a href="/{{ article_obj.blog.userinfo.username }}/article/{{ article_obj.pk }}">{{ article_obj.title }}</a></h4>

                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/media/{{article_obj.blog.userinfo.avatar}}" alt="..." width="80">
                        </a>
                    </div>
                    <div class="media-body">
                        {{ article_obj.desc }}
                    </div>
                    <br>
                    {# jason 发布于 2020-06-11 09：46 评论(0) 阅读(23)#}
                    <div>
                        <span><a href="/{{ article_obj.blog.userinfo.username }}/">{{ article_obj.blog.userinfo.username }}</a>&nbsp;&nbsp;</span>
                        <span>发布于</span>
                        <span>{{ article_obj.create_time|date:'Y-m-d' }}&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-comment"></span>评论({{ article_obj.comment_num }})&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-thumbs-up"></span>点赞({{ article_obj.up_num }})&nbsp;&nbsp;</span>
                    </div>
                </li>
                <hr>

                <nav aria-label="Page navigation">
                </nav>
            {% endfor %}

            {#利用自定义分页器直接显示分页器样式#}
            <div class="text-center">{{ page_obj.page_html|safe }}</div>
        </ul>
    </div>

    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">重金求子</h3>
            </div>
            <div class="panel-body">
                事成之后，上海别墅一套外加现金500万
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">千万大奖</h3>
            </div>
            <div class="panel-body">
                抓紧联系：加微信1382893215u
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">线上赌场</h3>
            </div>
            <div class="panel-body">
                性感荷官在线发牌
            </div>
        </div>
    </div>
</div>
<script>
    $('#id_edit').click(function () {
        $.ajax({
            url: '/set_password/',
            type: 'post',
            data: {
                'old_password': $('#id_old_password').val(),
                'new_password': $('#id_new_password').val(),
                'confirm_password': $('#id_confirm_password').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (args) {
                if (args.code == 1000) {
                    {#window.location.href = '/login/'#}
                    window.location.reload()  // 刷新页面
                } else if (args.code == 1001) {
                    $('#id_confirm_password').next().text(args.msg)
                } else {
                    $('#id_old_password').next().text(args.msg)
                }
            }
        })
    })
</script>
</body>
</html>